:root {
    --c_blue: #4281A4;
    --c_grey: #757372;
    --c_white: #E4DFDA;
    --c_tan: #D4B483;
    --c_darkTan: #b1d483;
    --c_red: #a7373d;
    --font: 'Poppins';
    -webkit-backface-visibility: hidden;
}

div {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(197deg, #fb7878, #d4ccc1, #a8afd9);
    background-size: 600% 600%;
    -webkit-animation: bg 8s ease infinite;
    -moz-animation: bg 8s ease infinite;
    -o-animation: bg 8s ease infinite;
    animation: bg 8s ease infinite;
    margin: 0;
    border-radius: 0;
    color: var(--c_white);
    font-family: 'Poppins', sans-serif;
}

@-webkit-keyframes bg {
    0% {
        background-position: 31% 0%
    }
    50% {
        background-position: 70% 100%
    }
    100% {
        background-position: 31% 0%
    }
}

@-moz-keyframes bg {
    0% {
        background-position: 31% 0%
    }
    50% {
        background-position: 70% 100%
    }
    100% {
        background-position: 31% 0%
    }
}

@-o-keyframes bg {
    0% {
        background-position: 31% 0%
    }
    50% {
        background-position: 70% 100%
    }
    100% {
        background-position: 31% 0%
    }
}

@keyframes bg {
    0% {
        background-position: 31% 0%
    }
    50% {
        background-position: 70% 100%
    }
    100% {
        background-position: 31% 0%
    }
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#loading{
    font-size: min(10vw,12vh);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    display: block;
    width: 100%;
    height: 100vh;
}

#viewContent {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

#video {
    width: 100%;
    position: relative;
}

#sidebar {
    width: 35vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.sidebarAnimaton {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.opening {
    animation-name: popIn;
}

.closing {
    animation-name: popOut;
}

@keyframes popIn {
    from {
        width: 10vw;
    }
    to {
        width: 35vw;
    }
}

@keyframes popOut {
    from {
        width: 35vw;
    }
    to {
        width: 10vw;
    }
}

#closeButton {
    background-color: var(--c_red);
    padding: 2vw;
    height: 10vh;
    display: none;
    justify-content: center;
}

#closeButton:hover {
    cursor: pointer;
}

#closeButton img {
    display: block;
    width: 10vw;
    height: 10vw;
}

.navButton {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2vw;
    border-radius: 1vw;
    text-align: center;
    padding: 1vw;
}

.navButton:hover {
    cursor: pointer;
}

#mapHolder {
    display: none; /*start hidden*/
    text-align: center;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
}

@keyframes gradient-popIn {
    from {
        height: 100vh;
    }
    to {
        height: 10vh;
    }
}

@keyframes gradient-popOut {
    from {
        height: 10vh;
    }
    to {
        height: 100vh;
    }
}

.gradient-opening {
    animation-name: gradient-popIn;
}

.gradient-closing {
    animation-name: gradient-popOut;
}

@keyframes map-popIn {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes map-popOut {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0%;
        height: 0%;
    }
}

.map-opening {
    animation-name: map-popIn;
}

.map-closing {
    animation-name: map-popOut;
}

.map {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.mapLayout {
    position: relative;
    height: 100%;
}

.mapBox {
    position: absolute;
}

.mapBox:hover {
    cursor: pointer;
    opacity: 0.5;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.aqua {
    background-color: aqua;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.gold {
    background-color: gold;
}

.gray {
    background-color: lightgray;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mapSwap {
    width: 100%;
    height: 4vw;
    background-color: var(--c_red);
}

.mapSwap:hover {
    cursor: pointer;
}

/* Participant view */

#viewContentParticipant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header {
    font-size: 3vw;
    text-align: center;
    width: 100%;
}

#contentHolder {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#listHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

#resetFilter {
    display: flex;
    border-radius: 3vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#resetFilter:hover {
    cursor: pointer;
}

.coachBox {
    border-radius: 2vw;
    background-color: var(--c_red);
    width: min(60vw, 100%);
    height: max(5vh, 60px);
    margin: 1vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coachBox:hover {
    cursor: pointer;
}

.coachBoxTag {
    border-radius: 1vw;
    padding: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
}

.coachBoxTag:hover {
    cursor: pointer;
    opacity: 0.5;
}

#coachInfoPanel {
    background-color: var(--c_red);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2vw 0 0 2vw;
}

#coachBio {
    display: flex;
    flex-direction: row;
}

#resetFilter {
    background-color: var(--c_red);
    width: 80%;
    height: max(10vh, 60px);
    display: none;
}

@keyframes coach-popIn {
    from {
        width: 0vw;
    }
    to {
        width: 90%;
    }
}

@keyframes coach-popOut {
    from {
        width: 90%;
    }
    to {
        width: 0vw;
    }
}

.coach-opening {
    animation-name: coach-popIn;
}

.coach-closing {
    animation-name: coach-popOut;
}