:root {
    --c_blue: #4281A4;
    --c_grey: #757372;
    --c_white: #E4DFDA;
    --c_tan: #D4B483;
    --c_darkTan: #b1d483;
    --c_red: #a7373d;
    --font: 'Poppins';
    -webkit-backface-visibility: hidden;
}

body {
    background-color: var(--c_grey);
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: var(--c_white);
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, var(--c_tan), var(#839fd4), var(#839fd4), var(--c_darkTan));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.content {
    display: block;
    width: 100%;
    height: 100vh;
}

#viewContent {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

#video {
    width: 100%;
    position: relative;
}

#sidebar {
    width: 35vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.sidebarAnimaton {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.opening {
    animation-name: popIn;
}

.closing {
    animation-name: popOut;
}

@keyframes popIn {
    from {
        width: 10vw;
    }
    to {
        width: 35vw;
    }
}

@keyframes popOut {
    from {
        width: 35vw;
    }
    to {
        width: 10vw;
    }
}

#closeButton {
    background-color: var(--c_white);
    padding: 2vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#closeButton:hover {
    cursor: pointer;
}

#closeButton img {
    display: block;
    width: 10vw;
    height: 10vw;
}

.navButton {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2vw;
    border-radius: 1vw;
    text-align: center;
    padding: 1vw;
}

.navButton:hover {
    cursor: pointer;
}

#mapHolder {
    display: flex;
    text-align: center;
    background-image: linear-gradient(var(--c_white), var(--c_white));
    background-size: 0%;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
}

@keyframes gradient-popIn {
    from {
        height: 100vh;
    }
    to {
        height: 10vh;
    }
}

@keyframes gradient-popOut {
    from {
        height: 10vh;
    }
    to {
        height: 100vh;
    }
}

.gradient-opening {
    animation-name: gradient-popIn;
}

.gradient-closing {
    animation-name: gradient-popOut;
}

@keyframes map-popIn {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes map-popOut {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0%;
        height: 0%;
    }
}

.map-opening {
    animation-name: map-popIn;
}

.map-closing {
    animation-name: map-popOut;
}

.map {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.mapLayout {
    position: relative;
    height: 100%;
}

.mapBox {
    position: absolute;
}

.mapBox:hover {
    cursor: pointer;
    opacity: 0.5;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.aqua {
    background-color: aqua;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.gold {
    background-color: gold;
}

.gray {
    background-color: lightgray;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mapSwap{
    width:100%;
    height:4vw;
    background-color: var(--c_red);
}

.mapSwap:hover{
    cursor: pointer;
}